.table-area {
    width: 100%;
    max-width: 90%;
    overflow-x: auto;
    margin-left: 7%;
    margin-right: 7%;
}

#title {
    text-align: center;
    font-family: arial, sans-serif;
    margin-top: 5%;
}

.table_format {
    text-align: center;
    /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    border: 3px solid #fff;
    /* max-width: 65%;
    width: 100%; */
}

.table_format td,
.table_format {
    border: 1px solid rgb(0, 0, 0);
    /* padding: 8px; */
    padding: 6px;
}

.table_format tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_format tr:hover {
    background-color: #ffffff;
    ;
}

.table_format th {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    background-color: #e6e6e6;
    color: rgb(3, 3, 3);
}

.printarea {
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

.Table_manupulation {
    max-width: 85%;
    width: 100%;
    background-color: #fff;
    /* padding: 25px 30px; */
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    position: static;
    justify-content: center;
    align-items: center;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.main_body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    background-color: rgb(247, 247, 247);
}